{{! Image }}
{{#if data.image }}<img src="{{data.image}}">{{/if}}

{{! Name }}
<h2>{{data.name}}</h2>

{{! Classification }}
<h3>{{data.classification}}</h3>

{{! Job Title(s) }}
<h4>Title{{#if (isArray data.title) }}s{{/if}}:</h4>

<ul>
  {{#if (isArray data.title)}}
    {{#each data.title}}
      <li>{{.}}</li>
    {{/each}}
  {{else}}
    <li>{{data.title}}</li>
  {{/if}}
</ul>

{{! Department(s) }}
<h4>Department{{#if (isArray data.department) }}s{{/if}}:</h4>

<ul>
  {{#if (isArray data.department)}}
    {{#each data.department}}
      <li>{{.}}</li>
    {{/each}}
  {{else}}
    <li>{{data.department}}</li>
  {{/if}}
</ul>

{{! Divisions(s) }}
<h4>Division{{#if (isArray data.division) }}s{{/if}}:</h4>

<ul>
  {{#if (isArray data.division)}}
    {{#each data.division}}
      <li>{{.}}</li>
    {{/each}}
  {{else}}
    <li>{{data.division}}</li>
  {{/if}}
</ul>

{{! Biography}}
{{{md data.bio}}}