{{! Validate hero images. }}
{{#if (or (eq hero '/') (not hero))}}
  {{assign 'hero' false}}
{{else}}
  {{assign 'main-classes' 'without-intro'}}
{{/if}}

{{! Validate listing image. }}
{{#if (eq listing.image.src '/')}}{{assign 'listing.image.src' null}}{{/if}}

{{! Reformat the feature. }}
{{#with feature}}

  {{! Validate feature image. }}
  {{#if (eq image.src '/')}}{{assign 'image.src' null}}{{/if}}

  {{! Validate links. }}
  {{#if (eq link.link-type 'Cascade Page')}}
    {{assign 'buttons.0.href' link.cascade-page.path}}
    {{assign 'heading' link.cascade-page.title}}
    {{assign 'description' link.cascade-page.description}}
    {{#if link.link-customizations}}
      {{#if (not (eq (indexOf link.link-customizations 'Label') false))}}
        {{assign 'heading' link.link-label}}
      {{/if}}
      {{#if (not (eq (indexOf link.link-customizations 'Description') false))}}
        {{assign 'description' link.link-description}}
      {{/if}}
    {{/if}}
  {{else if (eq link.link-type 'Cascade File')}}
    {{assign 'buttons.0.href' link.cascade-file.path}}
    {{assign 'heading' (stem link.cascade-file.display-name)}}
    {{assign 'description' null}}
    {{#if link.link-customizations}}
      {{#if (not (eq (indexOf link.link-customizations 'Label') false))}}
        {{assign 'heading' link.link-label}}
      {{/if}}
      {{#if (not (eq (indexOf link.link-customizations 'Description') false))}}
        {{assign 'description' link.link-description}}
      {{/if}}
    {{/if}}
  {{else if (eq link.link-type 'External URL')}}
    {{assign 'buttons.0.href' link.external-url}}
    {{assign 'heading' link.link-label}}
    {{assign 'description' link.link-description}}
  {{/if}}

  {{! Save the button. }}
  {{storageSet 'feature' this}}

{{/with}}

{{! Update the feature. }}
{{assign 'feature' (storageGet 'feature')}}

{{! Reformat explorer links. }}
{{#each explorer.links }}

  {{#if (eq link-type 'Cascade Page')}}
    {{assign 'href' cascade-page.path}}
    {{assign 'label' cascade-page.title}}
    {{#if link-customizations}}
      {{#if (not (eq (indexOf link-customizations 'Label') false))}}
        {{assign 'label' link-label}}
      {{/if}}
    {{/if}}
  {{else if (eq link-type 'Cascade File')}}
    {{assign 'href' cascade-file.path}}
    {{assign 'label' cascade-file.title}}
    {{#if link-customizations}}
      {{#if (not (eq (indexOf link-customizations 'Label') false))}}
        {{assign 'label' link-label}}
      {{/if}}
    {{/if}}
  {{else if (eq link-type 'External URL')}}
    {{assign 'href' external-url}}
    {{assign 'label' link-label}}
  {{/if}}

  {{! Save the explorer link. }}
  {{storagePush 'explorer.links' this}}

{{/each}}

{{! Update explorer links. }}
{{assign 'explorer.links' (storageGet 'explorer.links')}}

{{! Reformat tiles. }}
{{#each tiles}}

  {{! Validate tile images. }}
  {{#if (eq image.src '/')}}{{assign 'image.src' null}}{{/if}}

  {{! Validate tile links. }}
  {{#if (eq link.link-type 'Cascade Page')}}
    {{assign 'link.href' link.cascade-page.path}}
    {{assign 'title' link.cascade-page.title}}
    {{assign 'description' link.cascade-page.description}}
    {{#if link.link-customizations}}
      {{#if (not (eq (indexOf link.link-customizations 'Label') false))}}
        {{assign 'title' link.link-label}}
      {{/if}}
      {{#if (not (eq (indexOf link.link-customizations 'Description') false))}}
        {{assign 'description' link.link-description}}
      {{/if}}
    {{/if}}
  {{else if (eq link.link-type 'Cascade File')}}
    {{assign 'link.href' link.cascade-file.path}}
    {{assign 'title' link.cascade-file.title}}
    {{assign 'description' link.cascade-file.description}}
    {{#if link.link-customizations}}
      {{#if (not (eq (indexOf link.link-customizations 'Label') false))}}
        {{assign 'title' link.link-label}}
      {{/if}}
      {{#if (not (eq (indexOf link.link-customizations 'Description') false))}}
        {{assign 'description' link.link-description}}
      {{/if}}
    {{/if}}
  {{else if (eq link.link-type 'External URL')}}
    {{assign 'link.href' external-url}}
    {{assign 'title' link.link-label}}
    {{assign 'description' link.link-description}}
  {{/if}}

  {{! Save the tile.. }}
  {{storagePush 'tiles' this}}

{{/each}}

{{! Update tiles. }}
{{assign 'tiles' (storageGet 'tiles')}}

{{! Load feed data from all feed sources. }}
{{#each feeds.sources}}

  {{! Validate the given feed source. }}
  {{#if url}}

    {{! Get the data model based on the feed URL as needed. }}
    {{#unless model}}{{assign 'model' (get (dashcase (get 'host' (urlParse url))) ../models)}}{{/unless}}

    {{! Fetch the feed's content }}
    {{assign 'content' (fetchFeed url)}}

    {{! Map the feed's content to the desired data model. }}
    {{#if (eq content.__meta__.type 'json')}}
      {{assign 'content' (mapFeed model content)}}
    {{else}}
      {{assign 'content' (mapFeed model content.channel.item)}}
    {{/if}}

    {{! Validate the feed's view all button link. }}
    {{#if (eq link.link-type 'Cascade Page')}}
      {{assign 'button.href' link.cascade-page.path}}
    {{else if (eq link.link-type 'External URL')}}
      {{assign 'button.href' external-url}}
    {{/if}}

    {{! Validate the feed's view all button label. }}
    {{#if (eq button.label '')}}{{assign 'button.label' null}}{{/if}}

    {{! Always append the feed's URL to its view all button link. }}
    {{assign 'button.href' (combine button.href '?feed=' url)}}

    {{! Save the feed with its updated content. }}
    {{storagePush 'feeds.sources' this}}

  {{/if}}

{{/each}}

{{! Update feeds. }}
{{assign 'feeds.sources' (storageGet 'feeds.sources')}}

<div class="cover-page{{#if hero}} has-hero{{/if}}">

  {{> organisms-header classes='cover-page-header'}}

  <div class="cover-page-main">

    {{! Load a hero if applicable. }}
    {{#if hero}}{{> organisms-intro-hero classes='cover-page-intro' background-image=hero}}{{/if}}

    {{! Load the main section. }}
    {{#extend 'organisms-main' type='cover-page' classes=main-classes}}
      {{#content 'section-main-body'}}
        {{> organisms-flow-content-boxes}}
        {{> compounds-tiles tile-type='listing'}}
        {{#with listing}}{{> molecules-card-listing theme='light'}}{{/with}}
      {{/content}}
    {{/extend}}

    {{! Load the major section only if feeds exist. }}
    {{#if (gt (length feeds.sources) 0)}}
      {{#extend 'organisms-major' theme='light' heading=(default feeds.heading 'Upcoming')}}
        {{#content 'section-major-body'}}
          {{> organisms-flow-feed-preview feature=false feeds=feeds.sources}}
        {{/content}}
      {{/extend}}
    {{/if}}

  </div>

  {{> organisms-footer classes='cover-page-footer'}}

</div>
