{{#if (eq main.flow-content-box.feature.image.src '/')}}
  {{assign 'main.flow-content-box.feature.image.src' null}}
{{/if}}

{{#each main.flow-content-box.explorer.links}}

  {{#if (eq link-type 'Cascade Page')}}
    {{assign 'href' (combine (baseUrl) cascade-page.path)}}
    {{assign 'label' cascade-page.title}}
    {{#if link-customizations}}
      {{#if (gte (indexOf link-customizations 'Label') 0)}}
        {{assign 'label' link-label}}
      {{/if}}
    {{/if}}
  {{else if (eq link-type 'Cascade File')}}

  {{else if (eq link-type 'External URL')}}

  {{/if}}

  {{storagePush 'explorer-links' this}}

{{/each}}

{{assign 'main.flow-content-box.explorer.links' (storageGet 'explorer-links')}}

<div class="landing-page">
  <header class="landing-page-header"></header>
  <div class="landing-page-main">
  {{#if background-image}}
  {{> organisms-intro-hero classes="landing-page-intro"}}
  {{/if}}
    {{> organisms-main flow-content-box=main.flow-content-box wayfinder=main.wayfinder type="landing-page" classes="-dark without-intro"}}
    {{> organisms-major heading=section-major.heading theme=section-major.theme has-related=section-major.has-related related=section-major.related type="landing-page"}}
  </div>
  <footer class="landing-page-footer"></footer>
</div>
