{{! Reformat blocks for improved compatability. }}
{{#each blocks}}

  {{! Find invalid image paths, and remove them. }}
  {{#if (eq image.src '/')}}
    {{assign 'image.src' null}}
  {{/if}}

  {{! Save the updated block. }}
  {{storagePush 'blocks' this}}

{{/each}}

{{! Update the blocks data. }}
{{assign 'blocks' (storageGet 'blocks')}}

{{! Make adjustments to contacts as needed if applicable. }}
{{#if contacts}}

  {{! Reformat contact cards for improved compatability. }}
  {{#each contacts.cards}}

    {{! Validate image paths. }}
    {{#if (eq image.src '/')}}
      {{assign 'image.src' '/avatars/placeholder.male.jpg'}}
    {{/if}}

    {{! Ignore invalid cards, and save valid ones. }}
    {{#if (and (not (eq link.href '/')) name title)}}
      {{storagePush 'contacts.cards' this}}
    {{/if}}

  {{/each}}

  {{! Update the contact cards data. }}
  {{assign 'contacts.cards' (storageGet 'contacts.cards')}}

{{/if}}

{{! Make adjustments to resources as needed if applicable. }}
{{#if resources}}

  {{! Reformat resource cards for improved compatability. }}
  {{#each resources.cards}}

    {{! Validate link paths. }}
    {{#if (eq link-type 'Cascade Page')}}
      {{assign 'link.href' cascade-page.path}}
      {{assign 'title' cascade-page.title}}
      {{#if link-customizations}}
        {{#if (not (eq (indexOf link-customizations 'Label') false))}}
          {{assign 'title' link-label}}
        {{/if}}
      {{/if}}
    {{else if (eq link-type 'Cascade File')}}

    {{#if link-customizations}}
      {{assign 'link.href' cascade-file.path}}
      {{assign 'title' (stem cascade-file.display-name)}}
      {{#if (not (eq (indexOf link-customizations 'Label') false))}}
        {{assign 'title' link-label}}
      {{/if}}
    {{/if}}
    {{else if (eq link-type 'External URL')}}
      {{assign 'link.href' external-url}}
      {{assign 'title' link-label}}
    {{/if}}

    {{! Ignore invalid cards, and save valid ones. }}
    {{#if (and (not (eq link.href '/')) title)}}
      {{storagePush 'resources.cards' this}}
    {{/if}}

  {{/each}}

  {{! Update the contact cards data. }}
  {{assign 'resources.cards' (storageGet 'resources.cards')}}

{{/if}}

{{! Initialize some sidebar list section data. }}
{{assign 'sections' (arrayify null)}}

{{! Build the first sidebar list section if applicable. }}
{{#if (and access access.links)}}
  {{#if (gt (length access.links) 0)}}

    {{! Build the sidebar list section's content. }}
    {{assign 'sections.0' (objectify icon=(default access.icon 'material-office') title=(default access.title 'Where to Borrow') links=access.links)}}

  {{/if}}
{{/if}}

{{! Build the second sidebar list section if applicable. }}
{{#if (and learn learn.links)}}
  {{#if (gt (length learn.links) 0)}}

  {{! Build the sidebar list section's content. }}
  {{assign 'sections.1' (objectify icon=(default learn.icon 'material-search') title=(default learn.title 'Where to Search') links=learn.links)}}

  {{/if}}
{{/if}}

{{! Build the last sidebar list section if applicable. }}
{{#if (and materials materials.links)}}
  {{#if (gt (length materials.links) 0)}}

  {{! Build the sidebar list section's content. }}
  {{assign 'sections.2' (objectify icon=(default materials.icon 'material-access_point') title=(default materials.title 'Where to Access') links=materials.links)}}

  {{/if}}
{{/if}}

<div class="material-page">

  {{> organisms-header classes='material-page-header'}}

  <div class="material-page-main">

    {{#extend 'organisms-main' type='material-page' classes='material-page-main'}}
      {{#content 'section-main-body'}}
        {{> compounds-blocks}}
      {{/content}}
      {{#content 'section-main-sidebar'}}
        {{> compounds-sidebar-list divider=(objectify start=false end=false)}}
      {{/content}}
    {{/extend}}

    {{#if (and resources (gt (length resources.cards) 0))}}
    {{#extend 'organisms-minor' theme='dark' heading=resources.heading}}
      {{#content 'section-minor-body'}}
        {{> compounds-cards card-type='library-guide' cards=resources.cards}}
      {{/content}}
    {{/extend}}
    {{/if}}

    {{#if (and contacts (gt (length contacts.cards) 0))}}
    {{#extend 'organisms-minor' theme='light' heading=contacts.heading}}
    {{#content 'section-minor-body'}}
      {{> compounds-cards card-type='contact' cards=contacts.cards}}
    {{/content}}
    {{/extend}}
    {{/if}}

  </div>

  {{> organisms-footer classes='material-page-footer'}}

</div>
