{{! Assign card titles and links. }}
{{#each cards}}

  {{#if (eq link-type 'Cascade Page')}}
    {{assign 'title' cascade-page.title}}
    {{assign 'link.href' (combine (baseUrl) cascade-page.path)}}
    {{#if link-customizations}}
      {{#if (not (eq (indexOf link-customizations 'Label') false))}}
        {{assign 'title' link-label}}
      {{/if}}
    {{/if}}
  {{else if (eq link-type 'Cascade File')}}
    {{assign 'title' (stem cascade-file.name)}}
    {{assign 'link.href' (combine (baseUrl) cascade-file.path)}}
    {{#if link-customizations}}
      {{#if (not (eq (indexOf link-customizations 'Label') false))}}
        {{assign 'title' link-label}}
      {{/if}}
    {{/if}}
  {{else if (eq link-type 'External URL')}}
    {{assign 'title' link-label}}
    {{assign 'link.href' external-url}}
  {{/if}}

  {{! Save updates. }}
  {{storagePush 'cards' this}}

{{/each}}

{{! Update cards. }}
{{assign 'cards' (storageGet 'cards')}}

<div class="research-help-directory-page">
  <header class="research-help-directory-page-header"></header>

  {{> organisms-header classes='research-help-directory-page-header'}}

  {{#extend 'organisms-main' type="research-help-directory-page" classes="research-help-directory-page-main"}}
    {{#content 'section-main-body'}}

      {{! Render the cards. }}
      {{> compounds-cards filterable=false card-type='library-aid' columns=(objectify s=1 m=2 l=3)}}

    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='research-help-directory-page-footer'}}

</div>
