{{! Reformat the staff data for proper compatibility. }}
{{#each staff}}

  {{! Manipulate staff config data if given. }}
  {{#if config }}

    {{! Handle config data given in array form. }}
  {{#if (isArray config)}}

    {{! Determine if the librarian has some image data. }}
    {{#if (not (eq (indexOf config 'Profile Photo') false))}}
      {{assign '_config.image' true}}
    {{else}}
      {{assign '_config.image' false}}
    {{/if}}

    {{! Determine if the librarian has some quote data. }}
    {{#if (not (eq (indexOf config 'Quote') false))}}
      {{assign '_config.quote' true}}
    {{else}}
      {{assign '_config.quote' false}}
    {{/if}}

    {{! Determine if the librarian has some bio data. }}
    {{#if (not (eq (indexOf config 'Description') false))}}
      {{assign '_config.bio' true}}
    {{else}}
      {{assign '_config.bio' false}}
    {{/if}}

    {{! Determine if the librarian has some education data. }}
    {{#if (not (eq (indexOf config 'Education') false))}}
      {{assign '_config.education' true}}
    {{else}}
      {{assign '_config.education' false}}
    {{/if}}

    {{! Determine if the librarian has some contact info data. }}
    {{#if (not (eq (indexOf config 'Contact Info') false))}}
      {{assign '_config.contact' true}}
    {{else}}
      {{assign '_config.contact' false}}
    {{/if}}

    {{! Determine if the staff has some subject area data. }}
    {{#if (not (eq (indexOf config 'Subject Areas') false))}}
      {{assign '_config.subjects' true}}
    {{else}}
      {{assign '_config.subjects' false}}
    {{/if}}

    {{! Determine if the librarian has some CV data. }}
    {{#if (not (eq (indexOf config 'CV') false))}}
      {{assign '_config.cv' true}}
    {{else}}
      {{assign '_config.cv' false}}
    {{/if}}

    {{! Override config data. }}
    {{assign 'config' _config}}
    {{unassign '_config'}}

    {{! Otherwise, handle config data given in string form. }}
    {{else}}

      {{! Determine if the librarian has some config data. }}
      {{#if (eq config 'Profile Photo')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' true}}
        {{assign 'config.quote' false}}
        {{assign 'config.bio' false}}
        {{assign 'config.education' false}}
        {{assign 'config.contact' false}}
        {{assign 'config.subjects' false}}
        {{assign 'config.cv' false}}
      {{else if (eq config 'Quote')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' false}}
        {{assign 'config.quote' true}}
        {{assign 'config.bio' false}}
        {{assign 'config.education' false}}
        {{assign 'config.contact' false}}
        {{assign 'config.subjects' false}}
        {{assign 'config.cv' false}}
      {{else if (eq config 'Description')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' false}}
        {{assign 'config.quote' false}}
        {{assign 'config.bio' true}}
        {{assign 'config.education' false}}
        {{assign 'config.contact' false}}
        {{assign 'config.subjects' false}}
        {{assign 'config.cv' false}}
      {{else if (eq config 'Education')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' false}}
        {{assign 'config.quote' false}}
        {{assign 'config.bio' false}}
        {{assign 'config.education' true}}
        {{assign 'config.contact' false}}
        {{assign 'config.subjects' false}}
        {{assign 'config.cv' false}}
      {{else if (eq config 'Contact Info')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' false}}
        {{assign 'config.quote' false}}
        {{assign 'config.bio' false}}
        {{assign 'config.education' false}}
        {{assign 'config.contact' true}}
        {{assign 'config.subjects' false}}
        {{assign 'config.cv' false}}
      {{else if (eq config 'Subject Areas')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' false}}
        {{assign 'config.quote' false}}
        {{assign 'config.bio' false}}
        {{assign 'config.education' false}}
        {{assign 'config.contact' false}}
        {{assign 'config.subjects' true}}
        {{assign 'config.cv' false}}
      {{else if (eq config 'CV')}}
        {{assign 'config' (arrayify null)}}
        {{assign 'config.image' false}}
        {{assign 'config.quote' false}}
        {{assign 'config.bio' false}}
        {{assign 'config.education' false}}
        {{assign 'config.contact' false}}
        {{assign 'config.subjects' false}}
        {{assign 'config.cv' true}}
      {{/if}}

    {{/if}}

  {{/if}}

  {{! Set the staff's ID if not already set. }}
  {{#unless id}}{{assign 'id' (dashcase (lowercase name))}}{{/unless}}

  {{! Verify that the staff has a valid image, or ignore it entirely. }}
  {{#if (and image image.src)}}
    {{#if (eq (indexOf (makeArray '.png' '.jpg' '.jpeg' '.gif') (extname image.src)) false)}}
    {{assign 'image.src' null}}
    {{/if}}
  {{/if}}

  {{! Verify that the staff has a valid CV, or ignore it entirely. }}
  {{#if (and cv cv.href)}}
    {{#if (eq cv.href '/')}}
    {{assign 'cv.href' null}}
    {{/if}}
  {{/if}}

  {{! Save the updated staff to storage. }}
  {{! NOTE: This is required as a patch for the templating engine. }}
  {{storagePush 'staff' this}}

{{/each}}

{{! Save the updated staff. }}
{{! NOTE: This is required as a patch for the templating engine. }}
{{assign 'staff' (storageGet 'staff')}}

{{! Create an index contianing the IDs of all staff in order to enable filtering. }}
{{assign 'index' (pluck staff 'id')}}

{{! Determine the default query in the search filter menu. }}
{{#if __params__}}{{assign 'query' (default __params__.q __params__.query '')}}{{/if}}

<div class="staff-directory-page">

  {{> organisms-header classes='staff-directory-page-header'}}

  {{#extend 'organisms-main' type="staff-directory-page" classes="staff-directory-page-main"}}
    {{#content 'section-main-body'}}

      {{! Use a grid to better position stuff inside the main section. }}
      {{#extend 'tokens-grid' cols='1fr' gap=(objectify cols='25px' rows='25px')}}
        {{#content 'grid-items'}}

          {{! Render a search filter. }}
          {{> atoms-filter-search layout='contained'
                                  mode='big'
                                  keys=(makeArray 'name' 'title' 'library' 'phone' 'email')
                                  config=(objectify sort=true)
                                  placeholder=(default input-placeholder placeholder 'Search for a Staff Member')}}

          {{! Render the bio cards. }}
          {{> compounds-cards card-type='staff' cards=staff columns=1 classes="" filterable=true}}

        {{/content}}
      {{/extend}}

    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='staff-directory-page-footer'}}

</div>
