    {{__global__.notifications.is-dismissable.value}}
    {{!-- {{storageSet 'dismissable' is-dismissable.value}}
    {{unassign 'is-dismissable'}}
    {{assign 'is-dismissable' (storageGet 'dismissable')}} --}}

{{#with header}}

<header class="header{{#if ../classes}} {{../classes}}{{/if}}">

  <div class="notifications">

    <div data-label="Notice" class="notification -caution is-dismissible">
      <p class="notification-message">Welcome to a preview of the new Emory Libraries web site. We are currently conducting internal testing of pages and features of the site. <a href="https://docs.google.com/forms/d/1tUTu-lJMwm_Nzn5nrl75V7IzYgJkHKKNbQerV6mX7fk/viewform?ts=5d543f40&edit_requested=true" target="_blank">Leave us feedback via our online form.</a></p>
    </div>

  </div>

  <div class="header-main">

    {{#with navigation}}{{> compounds-nav-menu-utility desktop-only=true classes='header-main-utility'}}{{/with}}
    {{> organisms-nav-bar-main classes='header-main-main'}}
    {{> atoms-input-toggle classes='header-main-toggle' id='nav-menu-main--search'}}
    {{#with navigation.search}}{{> atoms-nav-button-search classes='header-main-search' for-suffix='search'}}{{/with}}
    {{#with search}}{{> organisms-search-menu classes='header-main-overlay' uid='nav-menu-main--search' tab-prefix='nav-menu-main--search--'}}{{/with}}

  </div>

</header>

{{/with}}
