<div class="section-main{{#if type}} -{{type}}{{/if}}{{#if theme}} -{{theme}}{{/if}}{{#if classes}} {{classes}}{{/if}}">

  <div class="section-main-breadcrumb">
    {{> molecules-breadcrumbs}}
  </div>

  {{! Identify pages with special case intro variants. }}
  {{assign 'variants' (makeArray 'exhibition-page' 'bio-page' 'gallery-page' 'landing-page')}}

  {{! Handle special cases. }}
  {{#inArray variants type}}

    {{! Exhibition page intro }}
    {{#if (eq type 'exhibition-page')}}
      <div class="section-main-subtitle">
        {{#block 'section-main-subtitle'}}{{/block}}
      </div>
    {{/if}}

    {{! Bio page intro }}
    {{#if (eq type 'bio-page')}}
      {{> organisms-intro-bio}}
      {{#if quote}}<p class="text -lead section-main-subtitle">&ldquo;{{quote}}&rdquo;</p>{{/if}}
    {{/if}}

    {{! Gallery page intro }}
    {{#if (eq type 'gallery-page')}}
      {{> organisms-intro-heading}}
    {{/if}}

    {{! Landing page intro }}
    {{#if (eq type 'landing-page')}}
      {{#unless hero}}{{> organisms-intro-heading }}{{/unless}}
    {{/if}}

  {{! Otherwise, use the default intro. }}
  {{else}}
    {{> organisms-intro-alt-text }}
  {{/inArray}}

  <main class="section-main-body">
    {{#block 'section-main-body'}}
      {{> compounds-blocks}}
    {{/block}}
  </main>

  {{#block 'section-main-divider'}}{{/block}}

  <aside class="section-main-sidebar">
    {{#block 'section-main-sidebar'}}{{/block}}
  </aside>

  {{#block 'section-main-other'}}{{/block}}

</div>
