{{!assign 'noscript' true}}

{{! Generate a unique ID for the search box. }}
{{assign 'searchUID' (uid 'search--')}}

{{! Determine if a search form should be used instead of the default. }}
{{#if (eq noscript true)}}{{assign 'form' true}}{{/if}}

<div class="search-menu -{{default theme 'dark'}}{{#if home}} -home{{/if}}" data-uid="{{this.uid}}">
  <span class="search-menu-context">{{default context 'Searching:'}}</span>
  <div class="search-menu-tabs">
    {{> compounds-tab-menu theme=(default theme 'dark') relay=searchUID}}
  </div>
  <div class="search-menu-search">
    {{#unless home}}
      {{> atoms-search mode='small' layout=false cancelable=true uid=searchUID}}
    {{else}}
      {{> atoms-search mode='big' layout='contained' uid=searchUID}}
    {{/unless}}
  </div>
  <div class="search-menu-back">
    {{#with back}}{{> atoms-button-toggle classes='search-menu-back' for=this.uid}}{{/with}}
  </div>
</div>
