<!doctype html>
<html>
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="">

  <title>{{default system.title title}}</title>
  
  <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61756900-31"></script>
    </script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      
      {{#if __meta__.api-ids.analytics-property-id}}

      {{assign 'ga-id' __meta__.api-ids.analytics-property-id}}
      {{assign 'namespace' (lowercase __meta__.api-ids.namespace)}}
      
      ga('create', '{{ga-id}}', 'auto',{'name':'{{namespace}}'});
      ga('{{namespace}}.send', 'pageview');
      
      {{/if}}

      ga('create', 'UA-43397511-1', {'name':'emory'});
      ga('emory.send', 'pageview');

      </script>
      <script async="async" src="https://www.google-analytics.com/analytics.js"></script>

</head>
<body>
  
  <div id="eul-vue">{{template}}</div>
  
  <script src="{{baseUrl}}/js/bundle.js"></script>
  
</body>
</html>