<!doctype html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="">

  <title>{{default system.title title}}</title>
<<<<<<< HEAD
  
  <link rel="stylesheet" href="{{baseUrl}}/css/style.css">
  
=======

  <link rel="stylesheet" href="{{baseUrl}}/css/style.css">

>>>>>>> 9263efd... Removes GA tracking script from `development.hbs` layout
</head>
<body>

  <div id="eul-vue">{{template}}</div>

  <script src="{{baseUrl}}/js/bundle.js"></script>

</body>
</html>
