{{! Set an active site if none was set. }}
{{#if (eq (length (filterWhere sites 'active')) 0)}}

  {{! Set the first site to active by default. }}
  {{assign 'sites.0.active' true}}

{{/if}}

<eul-branding-header inline-template v-cloak>

  <div class="branding-header">
    <a class="branding-header-badge" href="/">
      {{! This first logo is used to create a stroke. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
      {{! This second logo is used to for display. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
    </a>
    <a href="//emory.edu" class="branding-header-organization">Emory University</a>
    <a href="/" class="branding-header-division">{{get 'site' (itemAt (filterWhere sites 'active' true) 0)}}</a>
    <div class="branding-header-dropdown">
      <select class="branding-header-dropdown-menu"
              v-model="selection"
              @change="redirect">
        <option value="">Select a Library</option>
        {{#each sites}}
          {{#unless active}}
          <option value="{{href}}">{{site}}</option>
          {{/unless}}
        {{/each}}
      </select>
    </div>
  </div>

</eul-branding-header>

<noscript>

  <div class="branding-header">
    <a class="branding-header-badge" href="/">
      {{! This first logo is used to create a stroke. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
      {{! This second logo is used to for display. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
    </a>
    <a href="//emory.edu" class="branding-header-organization">Emory University</a>
    <a href="/" class="branding-header-division">{{get 'site' (itemAt (filterWhere sites 'active' true) 0)}}</a>
  </div>

</noscript>
