<eul-notification inline-template :uid="'{{uid}}'" :defaults="{
                                                      isDismissible: {{default dismissible true}}
                                                    }">

  <transition name="fade">
    <div class="notification -{{default type 'caution'}}{{#if dismissible}} is-dismissible{{/if}}"
         data-label="{{default label 'Alert'}}"
         v-show="showing"
         v-cloak>
      {{{message}}}
      {{#if dismissible}}
      <button class="notification-dismiss"
              @click="dismiss"
              @keypress.native.enter="dismiss">
        {{> tokens-icon id='material-close'}}
      </button>
      {{/if}}
    </div>

  </transition>

</eul-notification>
