{{! Convert channels to a collection. }}
{{#each channels}}

  {{! Save the channel information.}}
  {{#if (eq (indexOf (get 'host' (urlParse this)) 'scholarblogs') false)}}
    {{storagePush 'channels' (objectify href=this icon=(combine 'socicon-' (trimSubstringStart (stem (get 'host' (urlParse this))) 'www.')))}}
  {{else}}
    {{storagePush 'channels' (objectify href=this icon='material-message')}}
  {{/if}}

{{/each}}

{{! Update channels.}}
{{assign 'channels' (storageGet 'channels')}}

<div class="social-media{{#if classes}} {{classes}}{{/if}}">
  {{#each channels}}
    <a href="{{href}}" class="social-media-link">
      {{> tokens-icon id=icon}}
    </a>
  {{/each}}
</div>
