{{> tokens-heading level=2 heading="Table of Contents" toc=false}}
{{! Build an array of heading blocks }}
{{#each blocks}}
 {{#if  (eq (dashcase (lowercase type)) 'heading')}}
 {{storagePush 'headings' this}}
 {{/if}}
{{/each}}

{{assign 'headingBlocks' (storageGet 'headings')}}

{{! Open an ordered list }}
<ol class="table-of-contents {{classes}}">
  {{! Loop through headings }}
  {{#each headingBlocks}}
    {{! Capture next and prev index values}}
    {{#if (isFalsey level)}}
    {{assign 'level' heading-level}}
    {{/if}}
    {{#if (isFalsey heading)}}
    {{assign 'heading' heading-label}}
    {{/if}}
    {{assign 'nextIndex' (add @index 1)}}
    {{assign 'prevIndex' (subtract @index 1)}}

    {{! Capture the data for the next heading }}
    {{assign 'nextHeading' (itemAt ../headingBlocks nextIndex)}}

    {{#if (isFalsey nextHeading.level)}}
    {{assign 'nextHeading.level' nextHeading.heading-level}}
    {{/if}}
    {{! Write the list item for link to this heading along with it's anchor slug for the href }}
    <li>
    <a href="#{{dashcase (lowercase heading)}}">{{heading}}</a>

    {{#if (or (lte nextHeading.level level) (isFalsey nextHeading.level)) }}
      {{! If the next heading is higher level or same level as this one, or if it's the last heading, close the li }}
      </li>
    {{/if}}
    {{#if (gt nextHeading.level level)}}
      {{! If the next heading is lower level than this one, open a new ol }}
      <ol>
    {{/if}}
    {{! Close sublists based on difference of heading levels }}
    {{#if (or (lt nextHeading.level level) (isFalsey nextHeading.level) )}}
      {{#if (or (eq nextHeading.level (subtract level 1)) (and (eq nextHeading.level null) (eq level 3))) }}
        </ol></li>
      {{else if (or (eq nextHeading.level (subtract level 2)) (and (isFalsey nextHeading.level) (eq level 4)))}}
        </ol></li></ol></li>
      {{else if (or (eq nextHeading.level (subtract level 3)) (and (isFalsey nextHeading.level) (eq level 5)))}}
        </ol></li></ol></li></ol></li>
      {{else if (or (eq nextHeading.level (subtract level 4)) (and (isFalsey nextHeading.level) (eq level 6)))}}
        </ol></li></ol></li></ol></li></ol></li>
      {{/if}}
    {{/if}}
  {{/each}}
</ol>
{{>atoms-rule}}